/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  height: 100%;
}

h3 {
  text-align: center;
}

hr {
  height: 2px;
  border: 0;
  border-top: 1px solid #802b00;
}

input {
  border: none;
  color: #802b00;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #802b00;
}
