<div class='container'>
  <div class='window'>

    <div class="tab">
      <button class="tablinks" [ngClass]="{'active': userSelection == userSelectionEnum.RESULTS}" (click)="changeTab(userSelectionEnum.RESULTS)">Results</button>
      <button class="tablinks" [ngClass]="{'active': userSelection == userSelectionEnum.RECOMMENDATIONS}" (click)="changeTab(userSelectionEnum.RECOMMENDATIONS)">Recommandations</button>
      <button class="tablinks" [ngClass]="{'active': userSelection == userSelectionEnum.STATISTICS}" (click)="changeTab(userSelectionEnum.STATISTICS)">Statistics</button>
    </div>

    <div id="Results" [ngClass]="{'tabcontent': userSelection == userSelectionEnum.RESULTS}" *ngIf="userSelection == userSelectionEnum.RESULTS">
      <div class="results-count-container">
        <span class="results-count">{{results != null ? results.length : 0}} results found</span>
      </div>
      <div class="results">
        <div class="result-item" *ngFor="let artwork of results">
          <div class="result-item-image-container">
            <img class="result-item-image" src="{{artwork.image}}">
          </div>
          <div class="result-item-data-container">
            <div class="result-item-content" *ngIf="artwork.name">
              <span class="result-item-content-data" style="font-size: 27px;">"{{artwork.name}}"</span>
            </div>
            <div class="result-item-main-container" style="margin-left: 19px;margin-top: 6px;font-size: 15px">
              <div class="result-item-content" *ngIf="artwork.type">
                <span class="result-item-content-name">Type:</span>
                <span class="result-item-content-data">{{artwork.type}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.author">
                <span class="result-item-content-name">Author:</span>
                <span class="result-item-content-data">{{artwork.author}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.year">
                <span class="result-item-content-name">Year:</span>
                <span class="result-item-content-data">{{artwork.year}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.location">
                <span class="result-item-content-name">Location:</span>
                <span class="result-item-content-data">{{artwork.location}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.description">
                <span class="result-item-content-name">Description:</span>
                <span class="result-item-content-data">
                  <div *ngIf="artwork.description.length > MIN_CHAR">
                    <div *ngIf="artwork.selected">
                      <span>{{artwork.description }}</span>
                      <a class="link" (click)="toggleDescription(artwork)">see less</a>
                    </div>
                    <div *ngIf="!artwork.selected">
                      <span>{{artwork.description | minify}}</span>
                      <a class="link" (click)="toggleDescription(artwork)">see more</a>
                    </div>
                  </div>
                  <div *ngIf="artwork.description.length <= MIN_CHAR">
                    <span class="">{{ artwork.description }}</span>
                  </div>
                </span>
              </div>
              <div class="result-item-content" *ngIf="artwork.publisher">
                <span class="result-item-content-name">Publisher:</span>
                <span class="result-item-content-data">{{artwork.publisher}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="Recommandations" [ngClass]="{'tabcontent': userSelection == userSelectionEnum.RECOMMENDATIONS }" *ngIf="userSelection == userSelectionEnum.RECOMMENDATIONS">
      <div class="results-count-container">
        <span class="results-count">{{recommendations != null ? recommendations.length : 0}} results found</span>
      </div>
      <div class="results">
        <div class="result-item" *ngFor="let artwork of recommendations">
          <div class="result-item-image-container">
            <img class="result-item-image" src="{{artwork.image}}">
          </div>
          <div class="result-item-data-container">
            <div class="result-item-content" *ngIf="artwork.name">
              <span class="result-item-content-data" style="font-size: 27px;">"{{artwork.name}}"</span>
            </div>
            <div class="result-item-main-container" style="margin-left: 19px;margin-top: 6px;font-size: 15px">
              <div class="result-item-content" *ngIf="artwork.type">
                <span class="result-item-content-name">Type:</span>
                <span class="result-item-content-data">{{artwork.type}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.author">
                <span class="result-item-content-name">Author:</span>
                <span class="result-item-content-data">{{artwork.author}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.year">
                <span class="result-item-content-name">Year:</span>
                <span class="result-item-content-data">{{artwork.year}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.location">
                <span class="result-item-content-name">Location:</span>
                <span class="result-item-content-data">{{artwork.location}}</span>
              </div>
              <div class="result-item-content" *ngIf="artwork.description">
                <span class="result-item-content-name">Description:</span>
                <span class="result-item-content-data">
                  <div *ngIf="artwork.description.length > MIN_CHAR">
                    <div *ngIf="artwork.selected">
                      <span>{{artwork.description }}</span>
                      <a class="link" (click)="toggleDescription(artwork)">see less</a>
                    </div>
                    <div *ngIf="!artwork.selected">
                      <span>{{artwork.description | minify}}</span>
                      <a class="link" (click)="toggleDescription(artwork)">see more</a>
                    </div>
                  </div>
                  <div *ngIf="artwork.description.length <= MIN_CHAR">
                    <span class="">{{ artwork.description }}</span>
                  </div>
                </span>
              </div>
              <div class="result-item-content" *ngIf="artwork.publisher">
                <span class="result-item-content-name">Publisher:</span>
                <span class="result-item-content-data">{{artwork.publisher}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Recommandations" [ngClass]="{'tabcontent': userSelection == userSelectionEnum.STATISTICS }" *ngIf="userSelection == userSelectionEnum.STATISTICS">
      <div class="map-center" style="display: flex; justify-content: center;">
        <wade-maps #map [markers]="markers"></wade-maps>
      </div>
      <div *ngIf="stats != null" style="text-align: center;padding: 20px;">
        <h3>Statistics</h3>
        <span style="display:block" *ngIf="stats.sameAuthor != null && stats.sameAuthor > 0">This author has {{ stats.sameAuthor }} personal {{ stats.sameAuthor == 1 ? 'creation' : 'creations'}}.</span>
        <span style="display:block"  *ngIf="stats.sameLocation != null && stats.sameLocation > 0">{{ stats.sameLocation }} {{ stats.sameLocation == 1 ? 'work' : 'works' }} of art {{ stats.sameLocation == 1 ? 'was'
          : 'were' }} created in the same location.</span>
        <span style="display:block"  *ngIf="stats.samePeriod != null && stats.samePeriod > 0">{{ stats.samePeriod }} {{ stats.samePeriod == 1 ? 'work' : 'works' }} of art {{ stats.samePeriod == 1 ? 'was' : 'were'
          }} created in the same period.</span>
        <span style="display:block"  *ngIf="stats.sameTypeAndPeriod != null && stats.sameTypeAndPeriod > 0">{{ stats.sameTypeAndPeriod }} {{ stats.sameTypeAndPeriod == 1 ? 'work' : 'works' }} of art {{ stats.sameTypeAndPeriod
          == 1 ? 'was' : 'were' }} created in the same period.</span>
      </div>
      <div class="redirect" *ngIf="isGood()" style="text-align: center;">
        No available statistics. Put in more data
        <a class="link" href="/">here.</a>
      </div>
    </div>
  </div>
</div>
