@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
body,
html {
  margin: 0;
  height: 100%;
}

#Results {
  display: block;
}

hr {
  height: 2px;
  border: 0;
  border-top: 1px solid #802b00;
}

input {
  border: none;
  color: #802b00;
}

button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #802b00;
}

::-webkit-input-placeholder .input-line:focus+::input-placeholder {
  color: #802b00;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
}

.highlight:hover {
  color: #fff;
  transition: color .2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65)
}

.input-line:focus {
  outline: none;
  border-color: #802b00;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(128, 43, 0, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: #802b00;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line {
  background: none;
  margin-bottom: 5px;
  line-height: 1.5em;
  color: #802b00;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #802b00;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 2000px;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: bold;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subtitle {
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.menu {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 0px;
}

h3 {
  text-align: center;
}

.window {
  z-index: 100;
  color: #802b00;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-sizing: border-box;
  width: 1000px;
  background: #fff;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #802b00;
  opacity:0.4;
}

.overlay {
  background: -webkit-linear-gradient(#e28769, #e2c469);
  background: linear-gradient(#e28769, #e2c469);
  opacity: 0.85;
  filter: alpha(opacity=85);
  /* height: 650px; */
  position: absolute;
  /* width: 500px; */
  z-index: 1;
}

.bold-line {
  background: #e7e7e7;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  width: 100%;
  height: 360px;
  z-index: 1;
  opacity: 0.1;
  background-size: cover;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}

div.tab {
  overflow: hidden;
  border: 1px solid #8a4500;
  background-color: #8a4500;
  /* width: 500px; */
}

/* Style the buttons inside the tab */

div.tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */

div.tab button:hover {
  background-color: #b35900;
}

/* Create an active/current tablink class */

div.tab button.active {
  background-color: #b35900;
}

button.tablinks {
  background-color: #8a4500;
  width: 33%;
}

/* Style the tab content */

.tabcontent {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background: rgba(247, 208, 110, 0.8);
}

.results {
  margin-top: 15px;
}

.results-count-container {
  text-align: center;
  margin-top: 10px;
    font-weight: bold;
}

.results-count {
  
}

.result-item-content {
  
}

.result-item {
  border-bottom: 1px solid #b35900;
  margin-top: 15px;
  min-height: 217px;
}

.result-item-content {
  display: inline-block;
  width: 100%;
}

.redirect {
  padding: 20px;
}

.result-item-content-name {
  font-weight: bold;
}

.result-item-image-container {
  display: inline;
  height: auto;
  /* width: 100%; */
  line-height: 230px;
  margin: 0;
  margin-left: 15px;
  /* overflow: auto; */
  float: left;
  height: auto;
}

.result-item-image-container > img {
  max-height: 160px;
  vertical-align: middle;
  max-width: 225px;
  height: auto;
}

.result-item-data-container {
  display: inline-block;
  width: 70%;
  padding-bottom: 15px;
  margin-left: 20px;
}

.link {
  color:blue;
  cursor:pointer;
}
.link:hover {
  text-decoration: underline;
}

.result-item-image {
  height: 225px;
  vertical-align: middle;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
