@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
::-webkit-input-placeholder .input-line:focus+::input-placeholder {
  color: #802b00;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(128, 43, 0, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 15px;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: #802b00;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.disabled {
  cursor: not-allowed;
}

.input-line {
  background: none;
  margin: 3px 0px 5px 0px;
  line-height: 1.5em;
  color: #802b00;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  font-size: 15px;
  border-bottom: 1px solid #802b00;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}


.input-line::placeholder {
  opacity: 0.5;
}

.input-line:focus {
  outline: none;
  border-color: #802b00;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 18px;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
  height: 100%;
  max-width: 100%;
}

.welcome {
  font-weight: bold;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subtitle {
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}

.window {
  color: #802b00;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-sizing: border-box;
  height: 73%;
  width: 500px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
}

.overlay {
  background: -webkit-linear-gradient(#e28769, #e2c469);
  background: linear-gradient(#e28769, #e2c469);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
}

.submit-button--padded {
  margin-top: 15px;
}

@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}
