<div class='window'>
  <div class='overlay'></div>
  <div class='content'>
    <div class='welcome'>Hello There!</div>
    <div class='subtitle'>Welcome to ark! Find out everything you want about your favourite artwork!</div>
    <div class='input-fields'>
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input formControlName="name" type='text' placeholder='Artwork name' class='input-line full-width'>
        <input formControlName="author" type='text' placeholder='Author' class='input-line full-width'>
        <input formControlName="year" type='text' placeholder='Year' class='input-line full-width'>
        <input formControlName="type" type='text' placeholder='Type' class='input-line full-width'>
        <input formControlName="location" type='text' placeholder='Location' class='input-line full-width'>
        <input formControlName="description" type='text' placeholder='About' class='input-line full-width'>
        <input formControlName="publisher" type='text' placeholder='Publisher' class='input-line full-width'>
        <input type='submit' value="Submit" [ngClass]="{'disabled': !formIsValid()}"  [attr.disabled]="!formIsValid() ? true : null" class='ghost-round full-width submit-button--padded'>
      </form>
    </div>
  </div>
