<agm-map #map [latitude]="0" [longitude]="0" [zoom]="1" style="height: 300px">
  <agm-marker *ngFor="let m of actualMarkers; let i = index" [latitude]="m.latitude" [longitude]="m.longitude">
    <agm-info-window>
      <strong>{{m.label}}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>
